/*/Estilo para el encabezado/*/

    header {
        background-color: #270000;
        padding: 20px;
        text-align: center;
        color: #ffffff;
    }
    nav a {
        color: #dfdfdf;
        text-decoration: none;
        margin: 0 15px;
        font-weight: bold;
        text-align: center;
    }
    nav a:hover {
        color: #007bff;
        text-decoration: underline;
        text-align: center;
    }

    /* /estilo sección principal */
    .contenedor {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .contenedor h2 {
        color: #ffffff;
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }
    .contenedor p {
        color: #007bff;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
    }
    main {
        padding: 20px;
        background-color: #f8f9fa;
         text-align: center;
    }
     
    footer {
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
        color: #666;
    }

  
    body {
        font-family: Arial, sans-serif;
         margin: 20px;
         background-color: #f5f5f5;
    }

    h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    }

@media screen and (max-width: 768px) {
    /* Estilos para tablets */
}

@media screen and (max-width: 480px) {
    /* Estilos para móviles */
}